[submodule "wallpad-module-aidl"]
	path = wallpad-module-aidl
	url = http://git.kdiwin.com:7990/scm/hnrndnhn1033/wallpad-module-aidl.git
[submodule "wallpad-module-basemvvm"]
	path = wallpad-module-basemvvm
	url = http://git.kdiwin.com:7990/scm/hnrndnhn1033/wallpad-module-basemvvm.git
[submodule "wallpad-module-dialog"]
	path = wallpad-module-dialog
	url = http://git.kdiwin.com:7990/scm/hnrndnhn1033/wallpad-module-dialog.git
