[submodule "gsmart-module-aidl"]
	path = gsmart-module-aidl
	url = http://124.111.208.112/nhn-1033/wallpad-module-aidl.git
	branch = master
[submodule "gsmart-module-basemvvm"]
	path = gsmart-module-basemvvm
	url = http://124.111.208.112/nhn-1033/wallpad-module-basemvvm.git
	branch = master
[submodule "gsmart-module-dialog"]
	path = gsmart-module-dialog
	url = http://124.111.208.112/nhn-1033/wallpad-module-dialog.git
	branch = master
[submodule "gsmart-module-net"]
	path = gsmart-module-net
	url = http://124.111.208.112/nhn-1033/wallpad-module-net.git
	branch = master
