<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallpad.delivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_info_06"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:screenOrientation="landscape"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.wallpad.delivery.MainActivity"
            android:label="@string/app_name"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wallpad.delivery.view.login.LoginActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <receiver android:name=".broadcast.ReceiveParcelNotify"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="parcel_inquiry_arrived" />
            </intent-filter>
        </receiver>
    </application>

</manifest>